# Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

   если источник traffic_source равен yandex или google, то в source_type ставится organic
   для источников paid и email из России - ставим ad
   для источников paid и email не из России - ставим other
  все остальные варианты берем из traffic_source без изменений

## скачаем и распакуем данные

In [1]:
!wget https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip

--2022-01-07 21:17:42--  https://u.netology.ngcdn.ru/backend/uploads/lms/attachments/files/data/15259/%D0%B4%D0%BE%D0%BF_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B_%D0%BA_%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_1_%D0%B8_2.zip
Resolving u.netology.ngcdn.ru (u.netology.ngcdn.ru)... 104.22.40.115, 104.22.41.115, 172.67.26.246, ...
Connecting to u.netology.ngcdn.ru (u.netology.ngcdn.ru)|104.22.40.115|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2398962 (2.3M) [application/x-zip-compressed]
Saving to: ‘доп_материалы_к_пандас_1_и_2.zip.1’

доп_материалы_к_пан 100%[===================>]   2.29M   419KB/s    in 5.6s

2022-01-07 21:17:52 (419 KB/s) - ‘доп_материалы_к_пандас_1_и_2.zip.1’ saved [2398962/2398962]

In [2]:
!unzip /content/доп_материалы_к_пандас_1_и_2.zip

Archive:  /content/доп_материалы_к_пандас_1_и_2.zip
replace data.tsv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: data.tsv
  inflating: keywords.csv
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/movies.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/tags.csv
  inflating: movies_example.txt
 extracting: ratings_example.txt
  inflating: sales_db.csv
  inflating: URLs.txt
  inflating: visit_log.csv

## Расчет

In [3]:
import pandas as pd

In [4]:
log_df = pd.read_csv('/content/visit_log.csv',sep=';')
log_df.tail()

        timestamp    visit_id  ...     user_id traffic_source
18933  1550094288  57e5ba8560  ...  98b19810d0           paid
18934  1550094296  6f9389ec1b  ...  32ebb20c13           paid
18935  1550094308  e8cf2eb8e6  ...  b85baa8c73         yandex
18936  1550094314  79530b9a67  ...  e154b06121           paid
18937  1550094323  b3b634f824  ...  7d27a58fb8          email

[5 rows x 6 columns]

In [5]:
def create_source_type(df):
  if df['traffic_source'] == 'yandex' or df['traffic_source'] == 'google':
    return 'organic'
  elif df['region'] == 'Russia' and (df['traffic_source'] == 'paid' or df['traffic_source'] == 'email'):
    return 'ad'
  elif df['traffic_source'] == 'paid' or df['traffic_source'] == 'email':
    return 'other'
  else:
    return df['traffic_source']

In [6]:
log_df['source_type'] = log_df.apply(create_source_type, axis = 1)
log_df.tail(20)

        timestamp    visit_id  ... traffic_source source_type
18918  1550094214  cb9ab50478  ...         direct      direct
18919  1550094214  6da87e20bd  ...         yandex     organic
18920  1550094217  3d4349ecf8  ...         direct      direct
18921  1550094218  b9723ef95e  ...          email       other
18922  1550094219  61267237e5  ...         direct      direct
18923  1550094221  42af1bbaa1  ...          email          ad
18924  1550094227  ea2af937ec  ...         direct      direct
18925  1550094228  90efa16935  ...         direct      direct
18926  1550094236  098c3666b2  ...         google     organic
18927  1550094245  1e0d086733  ...           paid       other
18928  1550094255  c7e4bce62a  ...         yandex     organic
18929  1550094260  39aeec73f8  ...         direct      direct
18930  1550094269  f1b4590410  ...         direct      direct
18931  1550094269  a7e2dfd759  ...         direct      direct
18932  1550094280  5001544772  ...         google     organic
18933  1550094288  57e5ba8560  ...           paid       other
18934  1550094296  6f9389ec1b  ...           paid          ad
18935  1550094308  e8cf2eb8e6  ...         yandex     organic
18936  1550094314  79530b9a67  ...           paid          ad
18937  1550094323  b3b634f824  ...          email          ad

[20 rows x 7 columns]

# Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

  Прочитайте содержимое файла с датафрейм
  Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [7]:
url_df = pd.read_csv('/content/URLs.txt', sep="\n")
url_df.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [8]:
url_df[url_df['url'].str.contains(r'/\d{8}-', case=False, flags=0, na=None, regex=True)]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

# Задание 3

  Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [9]:
rating_df = pd.read_csv('/content/ml-latest-small/ratings.csv')
rating_df['timestamp'] =  pd.to_datetime(rating_df['timestamp'],unit="s") 
rating_df

        userId  movieId  rating           timestamp
0            1       31     2.5 2009-12-14 02:52:24
1            1     1029     3.0 2009-12-14 02:52:59
2            1     1061     3.0 2009-12-14 02:53:02
3            1     1129     2.0 2009-12-14 02:53:05
4            1     1172     4.0 2009-12-14 02:53:25
...        ...      ...     ...                 ...
99999      671     6268     2.5 2003-10-08 02:16:10
100000     671     6269     4.0 2003-10-03 02:46:41
100001     671     6365     4.0 2003-12-09 03:26:03
100002     671     6385     2.5 2003-12-09 14:21:03
100003     671     6565     3.5 2004-01-22 15:18:44

[100004 rows x 4 columns]

In [10]:
aggregate_df = rating_df.groupby(by = 'userId').agg({'timestamp': ['min', 'max'], 'movieId': 'count'})
aggregate_df = aggregate_df[aggregate_df['movieId']['count'] > 100]
aggregate_df['lifetime'] = aggregate_df['timestamp']['max'] - aggregate_df['timestamp']['min']
aggregate_df

                 timestamp                     movieId           lifetime
                       min                 max   count
userId
4      2000-02-05 19:25:14 2000-02-08 03:57:54     204    2 days 08:32:40
8      2006-07-31 23:42:20 2006-08-01 23:22:07     116    0 days 23:39:47
15     2001-08-16 04:47:19 2016-07-24 03:25:35    1700 5455 days 22:38:16
17     2005-09-23 09:43:07 2005-09-23 11:57:20     363    0 days 02:14:13
19     1997-02-06 00:48:11 1997-02-06 02:16:13     423    0 days 01:28:02
...                    ...                 ...     ...                ...
656    2001-04-02 19:49:51 2001-04-02 20:40:44     128    0 days 00:50:53
659    1996-06-12 16:47:20 1997-06-13 13:10:51     142  365 days 20:23:31
664    2012-07-31 10:41:23 2015-09-10 19:02:02     519 1136 days 08:20:39
665    2001-06-18 03:51:38 2003-03-06 16:22:49     434  626 days 12:31:11
671    2003-09-14 00:52:31 2004-01-22 15:18:55     115  130 days 14:26:24

[258 rows x 4 columns]

In [11]:
print('Cреднее время жизни', aggregate_df['lifetime'].mean())

Cреднее время жизни 463 days 21:28:27.449612384

# Задание 4

  Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
  Необходимо сформировать две таблицы:

  таблицу с тремя типами выручки для каждого client_id без указания адреса клиента аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [12]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [13]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [14]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [15]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

## Первая таблица

In [16]:
rzd_auto_df = rzd.merge(auto, how='outer')
rzd_auto_air_df = rzd_auto_df.merge(air, how='outer')
rzd_auto_air_df

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

## Вторая таблица

In [17]:
rzd_auto_air_address_df = rzd_auto_air_df.merge(client_base, how='outer')
rzd_auto_air_address_df

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4